:root {
    --orange: yellow;
    --yellow: yellow;
    --green: green;
    --blue: blue;
    --violet: violet;
    --a: var(--violet);
    --red: blue;
    --red: red;
}

div {
    width: 100%;
    background-color: var(--red);
}

.divgood {
    width: 100px;
    height: 100px;
    background-color: var(--a);
}

p {
    margin: 10px auto;
    width: 200px;
    background-color: palegoldenrod;
}