@mixin header-composable($width: 100%,$bgc: #be2626) {
  background-color: $bgc;;
  position: relative;
  width: $width;
  height: 120px;
}


// header {



    // >.utility_bar {
    //     right: 30px;
    //     top: 20px;
    //     font-size: 11px;
    //     margin: 0 auto;

    //     >li {
    //         margin: 0px 14px;
    //     }
    // }
// }