@use './chef_text_box.scss' as tBox;


main {
    position: relative;
    width: 100%;
    height: 590px;
    padding-top: 0.1px; //margin collapse 방지하는 여러가지 방법 중 이런 방법도 있다네요.



    >.main_text_box {
        @include tBox.main_text_box();
    }
}