@import 'header/header.scss';


body {
    font: {
        size: 10px;
        style: italic;
    }

    margin: {
        left: 10px;
        top: 20px;

    }

    width: 1500px;
    height: 2000px;

}

@debug SCSS compiler