@mixin nav-list_a_bar($li-margin: 0 30px 15px,
    $a-color: #000,
    $a-hover-color: #f00) {
    ul {
        position: absolute;
        display: inline-block;
        list-style-type: none;
        right: 0px;
        bottom: 0px;

        li {
            float: left;
            margin: $li-margin;

            a {
                text-decoration: none;
                font-weight: 1000;
                color: $a-color;

                &:hover {
                    color: $a-hover-color;
                }
            }
        }
    }
}