@use './articles/article_top.scss' as a_top;

section {
  padding: 130px 0 0 0;
  width: 1000px;
  font-size: 0;

  article > div {
    position: relative;
    float: left;
  }

  @include a_top.article_top;
  
}