*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#base {
    width: 1000px; height: 500px;
    background-color: lightgray;
    margin: 50px auto;
}

#base div{
    width: 480px;
    height: 480px;

    float: left;
    margin: 10px;
    background-color: beige;
}

#base div div{
    width: 100px;
    height: 100px;
    margin: 0px;
    float : none;
    border: 5px dotted lightcoral;
    background-color: orange;
}

#base div.rbase{
    display: flex;
}