@use '../../../scss_composable/header/navigation/nav_list_a_bar.scss' as n;


nav {
    position: relative;
    width: 1180px;
    height: 120px;
    margin: 0 auto;
    font-size: 20px;


    @include n.nav-list_a_bar(0 35px 20px,
        #333,
        #765a9b,
        (top: auto, right: 35px, bottom: 0, left: 35px),
        22px);

}