@use '../../../scss_composable/header/navigation/nav_list_a_bar.scss' as n;


nav {
    width: 1180px;
    height: 120px;
    margin: 0 auto;
    font-size: 20px;
    padding-right: 16px;
    background-color: blue;

    @include n.nav-list_a_bar((0 20px 10px), #333, #765a9b);
}