@use '../../../scss_composable/header/navigation/nav_list_a_bar.scss' as n;


nav {
    position: absolute;
    right: 0px;
    bottom: 15px;


    @include n.nav-list_a_bar(0 35px 0,
        #333,
        #765a9b,
        22px);

}