@use '../../../scss_module/text/img_content.scss' as ic;

$christmas: '../../../rsc/700x400.png';
$frozen: '../../../rsc/290x190.png';
$present: '../../../rsc/290x95-1.png';
$good: '../../../rsc/290x95-2.png';


@mixin article_top {
    div.christmas {
        width: 700px;
        height: 400px;
        position: relative;

        @include ic.img_content($bg-img: $christmas,
            $text-position: ("top": 40px,
                "left": 40px,
                "right": auto,
                "bottom": auto),
                $title-size:30px,
            $title-text-color: #fff,
            $content-text-color: #fff);

        p {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }

}