@use '../../../scss_module/text/img_content.scss';

$christmas: '../../../rsc/700x400.png';
$frozen: '../../../rsc/290x190.png';
$present: '../../../rsc/290x95-1.png';
$good: '../../../rsc/290x95-2.png';

@mixin article_top{

}