@use "sass:list";

@mixin title_content(
  $title-bgc: transparent,
  $title-text-color: #000,
  $title-size: 80px,
  $title-margin: 0,
  $content-bgc: transparent,
  $content-text-color: #000,
  $content-size: 25px,
  $content-margin: 0
) {

  > p:first-child {
    margin: $title-margin;
    background-color: $title-bgc;
    color: $title-text-color;
    font-weight: 700;
    font-size: $title-size;
  }

  > p:not(:first-child) {
    margin: $content-margin;
    background-color: $content-bgc;
    color: $content-text-color;
    font-size: $content-size;
  }
}